@define-color foreground #c7c4c2;
@define-color background #21130e;
@define-color cursor #c7c4c2;

@define-color color0 #21130e;
@define-color color1 #5D728E;
@define-color color2 #937988;
@define-color color3 #5092B1;
@define-color color4 #718FA2;
@define-color color5 #AA9E95;
@define-color color6 #CBAFA2;
@define-color color7 #c7c4c2;
@define-color color8 #72625d;
@define-color color9 #5D728E;
@define-color color10 #937988;
@define-color color11 #5092B1;
@define-color color12 #718FA2;
@define-color color13 #AA9E95;
@define-color color14 #CBAFA2;
@define-color color15 #c7c4c2;
